
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>
    <!-- Sweet Alert -->
    <link th:href="@{/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/jquery-2.1.1.min.js}"></script>

    <script th:src="@{/js/bootstrap.min.js}"></script>
    <!-- Sweet alert -->
    <script th:src="@{/js/plugins/sweetalert/sweetalert.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/jquery.cookie.js}"></script>
</head>
<body onload="getCookie()" >
<table>
    <h3>用户名：<input type="text" id="userName" name="userName"></h3>
    <h3>密码：<input type="password" id="passWord" name="passWord"></h3>
    <input type="checkbox" name="rememenber" id="rememenber">：记住密码<br/>
<!--    <a   onclick="tologin()">asas</a>-->
    <a  onclick="return tologin();"  >&nbsp;&nbsp;&nbsp;&nbsp;<strong>导出到Excel</strong></a>

</table>
</body>
<script type="text/javascript">
    //把信息设置进去Cookie里面去
    function setCookie(){
        var userName = $('#userName').val();
        var passWord = $('#passWord').val();
        var aa = $("input[type='checkbox']").is(":checked");//获取是否选中
        if(aa==true){//如果选中-->记住密码登录
            $.cookie("userName",userName.trim(),7);//有效时间7天，也可以设置为永久，把时间去掉就好
            $.cookie("passWord",passWord.trim(),7);
        }else{//如果没选中-->不记住密码登录
            $.cookie("passWord", "");
            $.cookie("userName", "");
            alert("没有记住密码")
        }
    }


    function getCookie(){ //获取cookie
        alert(11);
        var userName = $.cookie("userName"); //获取cookie中的用户名
        var pwd =  $.cookie("passWord"); //获取cookie中的登陆密码
        alert(userName+"1:"+pwd);
        if(pwd){//密码存在的话把“记住用户名和密码”复选框勾选住
            $("[name='rememenber']").attr("checked","true");
        }
        if(userName!=""){//用户名存在的话把用户名填充到用户名文本框
            $("#userName").val(userName);
        }else{
            $("#userName").val("");
        }
        if(pwd!=""){//密码存在的话把密码填充到密码文本框
            $("#passWord").val(pwd);
        }else{
            $("#passWord").val("");
        }
    }

    //登录
    function tologin(){
        alert(1);
        var userName = $('#userName').val();
        var passWord = $('#passWord').val();
        var aa = $("input[type='checkbox']").is(":checked");//获取选中状态
        if(userName == ''){
            alert("请输入用户名。");
            return;
        }
        if(passWord == ''){
            alert("请输入密码。");
            return;
        }
        if(aa==true){
            setCookie();   //调用设置Cookie的方法
            alert(1);
            window.location.href= "../user/index";
            return true;
        }else if(aa==false){
            setCookie();  //调用设置Cookie的方法
            alert(1);

            window.location.href= "../user/index";
            return true;

        }

    }
</script>
</html>
