<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ECharts</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/echarts/4.6.0/echarts.min.js"></script>

</head>
<body>
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<div id="main" style="width: 600px;height:400px;"></div>

<script>
    var myChart = echarts.init(document.getElementById('main'));
    var productName = [];
    var nums = [];
    var nums2 = [];

    //AJAX接收数据主体
    $.ajax({
        type:"GET",
        url:"/project",
        dataType:"json",
        async:false,
        success:function (result) {

            for (var i = 0; i < result.length; i++){
                productName.push(result[i].productName);
                nums.push(result[i].nums);
                nums2.push(result[i].nums+10);

            }

        },
        error :function(errorMsg) {
            alert("获取后台数据失败！");
        }
    });
    var arr=[];
    arr.push(nums);
    arr.push(nums2);
    var series=[];    //定义一个数组变量用于存放配置

    for(var i = 0;i<arr.length;i++){
        series.push({
            name: 'data[i]',
            type: 'line',
            stack: '总量',
            data: arr[i]
        });
    }


    var option = {
        title : {
            text: '某站点销售情况',
            subtext: '纯属虚构',
            x:'center'
        },
        tooltip : {
            trigger: 'axis',
            // formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        legend: {
            orient: 'vertical',
            left: 'left',
        },
        grid:{
            left: '3%',
            right: '4%',
            bottom: '30%',
            containLabel: true
        },
        toolbox: { //下载图片
            // name:'download',
            feature: {
                show: true,
                feature: {
                    dataView: {readOnly: false},
                    restore: {},
                    saveAsImage: {}
                }
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,  //上下浮动空白范围
            name: '日期',
            data: productName
        },
        yAxis: {
            name: '人数',
            type: 'value'
        },
        series: series    //讲数组变量赋值即可


        // series : [
        //     {
        //         name: '访问来源',
        //         type: 'line',
        //         stack: '总量',
        //         data: nums,
        //
        //     },
        //     {
        //         name: '访问来源',
        //         type: 'line',
        //         stack: '总量',
        //         data: [6,10,100,200]
        //     },
        // ]
    };

    myChart.setOption(option);



</script>
</body>
