<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family.mapper.currencyMapper">
<!--  <resultMap id="BaseResultMap" type="com.family.entity.currency">-->
<!--    <id column="id" jdbcType="INTEGER" property="id" />-->
<!--    <result column="currencyName" jdbcType="VARCHAR" property="currencyName" />-->
<!--    <result column="rate" jdbcType="DOUBLE" property="rate" />-->
<!--  </resultMap>-->
  <sql id="Base_Column_List">
    id, currencyName, rate
  </sql>

<!--  更新汇率数据-->
  <insert id="insertCurrency" keyProperty="id" parameterType="com.family.entity.currency">
      insert into currency (currencyName, rate)
      values (#{currencyName}, #{rate})
      ON DUPLICATE KEY UPDATE
      currencyName = #{currencyName},
      rate = #{rate}
    </insert>

<!--    查找所有汇率信息-->
    <select id="findCurrency" resultType="com.family.entity.currency">
        select
        <include refid="Base_Column_List" />
        from currency
    </select>




</mapper>