<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.family.mapper.userMapper">
<!--  <resultMap id="BaseResultMap" type="com.family.entity.user">-->
<!--    <id column="id" jdbcType="INTEGER" property="id" />-->
<!--    <result column="userName" jdbcType="VARCHAR" property="userName" />-->
<!--    <result column="password" jdbcType="VARCHAR" property="password" />-->
<!--    <result column="updateTime" jdbcType="DATE" property="updateTime" />-->
<!--    <result column="createTime" jdbcType="DATE" property="createTime" />-->
<!--    <result column="birthday" jdbcType="DATE" property="birthday" />-->
<!--    <result column="headPicture" jdbcType="VARCHAR" property="headPicture" />-->
<!--    <result column="phone" jdbcType="VARCHAR" property="phone" />-->
<!--    <result column="sex" jdbcType="BIT" property="sex" />-->
<!--    <result column="email" jdbcType="VARCHAR" property="email" />-->
<!--    <result column="realName" jdbcType="VARCHAR" property="realName" />-->
<!--  </resultMap>-->
  <sql id="Base_Column_List">
    id, userName, password,  realName, sex, phone,email , birthday, createTime, updateTime, headPicture
  </sql>


    <!--用户登录验证-->
    <select id="userLogin" parameterType="user" resultType="com.family.entity.user">
        SELECT
        <include refid="Base_Column_List" />
         FROM user
        WHERE userName = #{userName} AND password = #{password}
    </select>

    <!--查找用户by userName-->
    <select id="findUserByName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT userName from user  where userName = #{userName, jdbcType=VARCHAR}
    </select>

    <!--查找用户by id-->
    <select id="findUserById" parameterType="user" resultType="com.family.entity.user">
        SELECT
        <include refid="Base_Column_List" />
        from user  where id = #{id}
    </select>

    <!--新用户注册  方式1-->
    <insert id="addUser" keyProperty="id" parameterType="user">
        INSERT INTO user (userName,password,sex,createTime) VALUES (#{userName},#{password},#{sex},#{createTime})
    </insert>

    <!--修改用户信息-->
    <update id="modifyUser" parameterType="com.family.entity.user">
      update user set
          userName = #{userName},
          password = #{password},
          realName = #{realName},
          sex = #{sex},
          phone = #{phone},
          email = #{email},
          birthday = #{birthday},
          updateTime = #{updateTime}
    where id = #{id,jdbcType=INTEGER}
    </update>

<!--    修改密码-->
    <update id="changePassword" parameterType="com.family.entity.user" >
      update user set
          password = #{password}
    where userName = #{userName}
    </update>

</mapper>